altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
comm
debugpy
decorator
executing
faiss-cpu
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
narwhals
nest-asyncio
networkx
nltk
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
stack-data
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
watchdog
wcwidth
